.experience {
	display: grid;
	grid-template-columns: auto;
	max-width: 1290px;
	margin: auto auto;
	padding-top: 92px;
	font-style: normal;
	text-align: center;
	overflow-x: hidden;
  }
  
  .experience__title {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .experience__title h2 {
	height: 55px;
	font-weight: 800;
	font-size: 38px;
	line-height: 45.6px;
	letter-spacing: 0.2px;
	color: #1e0192;
	margin-bottom: 50px;
	width: 250px;
  }
  
  .experience__title p {
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin-bottom: 27px;
  }
  
  .experience__title span {
	display: none;
  }
  
  .experience__cards {
	display: flex;
	flex-direction: column;
  }
  
  .experience__cards > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 20px;
	border: 1px solid rgba(102, 115, 141, 0.3);
	border-radius: 40px;

	background-image: url('../img/mi_8.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  @media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        .experience__cards > div {
            background-attachment: scroll; /* Fallback for Safari */
        }
    }
}
  .shadow{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    border-radius: 40px;
}
  .experience__cards > div i {
	font-size: 32px;
	margin: 20px 0;
	color: rgb(255, 255, 255);
	z-index: 1;
  }
  
  .experience__cards h4 {
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: rgb(255, 255, 255);
	padding: 10px;
	font-weight: 600;
	z-index: 1;
  }
  
  .experience__cards p {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.2px;
	color: rgb(255, 255, 255);
	padding: 10px 15px;
	margin-bottom: 20px;
	z-index: 1;
  }
  @media screen and (min-width: 768px) {
	.experience__title h2 {
	  width: 450px;
	  margin: 0;
	}
	.experience__cards {
	  display: grid;
	  grid-template-columns: auto auto auto;
	}
	.experience__cards > div {
	  align-items: flex-start;
	  text-align: left;
	}
	.experience__cards > div i {
	  margin-left: 30px;
	  padding: 0;
	}
  
	.experience__cards h4 {
	  margin: 0 0 20px 30px;
	  padding: 0;
	}
  
	.experience__cards p {
	  margin-left: 30px;
	  padding: 0;
	}
  }
  