<section class="benefits" id="benefits">
  <div class="benefits_containers-title">
    <h2>Our benefits</h2>
  </div>
  <div class="benefits_containers">
    <div class="benefits_container">
      <div class="benefits_container-mark">
        <i class="fas fa-check text-blue-600"></i>
      </div>
      <div class="benefits_container-description">
        <h6>
          <span>Quality</span> materials
        </h6>
        <p>
          Products offered to customers are made of innovative materials in a
          modern technological process
        </p>
      </div>
    </div>
    <div class="benefits_container">
      <div class="benefits_container-mark">
        <i class="fas fa-check text-blue-600"></i>
      </div>
      <div class="benefits_container-description">
        <h6>
          <span>Professional </span> production
        </h6>
        <p>
          All production facilities are licensed and have international product
          quality certificates
        </p>
      </div>
    </div>
    <div class="benefits_container">
      <div class="benefits_container-mark">
        <i class="fas fa-check text-blue-600"></i>
      </div>
      <div class="benefits_container-description">
        <h6>
          <span>Proprietary </span> software
        </h6>
        <p>
          All high-tech products are supplied with proprietary high-security
          software
        </p>
      </div>
    </div>
    <div class="benefits_container">
      <div class="benefits_container-mark">
        <i class="fas fa-check text-blue-600"></i>
      </div>
      <div class="benefits_container-description">
        <h6>
          <span>Competitive </span> price
        </h6>
        <p>
          All products are provided with competitive prices and the most
          favorable terms of delivery
        </p>
      </div>
    </div>
  </div>
</section>;
