<section class="experience" id="experience">
  <div class="experience__title">
     <h2>10 years of experience </h2>
     <p>Partnership with manufacturing companies.<br>
        Strong ties in the aviation markets
     </p>
  </div>
  <div class="experience__cards">
     <div class="experience__cards-circle">
        <i class="fas fa-wrench"></i>
        <h4>Organizing repair work</h4>
        <p>
           The TDS company provides for the customer the organization of repair work for aviation equipment of various types
        </p>
     </div>
     <div class="experience__cards-pencil">
        <i class="fas fa-cogs"></i>
        <h4>Service maintenance </h4>
        <p>The TDS Company also organizes maintenance of aviation equipment
        </p>
     </div>
     <div class="experience__cards-brush">
        <i class="fas fa-plane"></i>
        <h4>Assembly and supply of spare parts for airplanes and helicopters</h4>
        <p>
           Thanks to long-term and effective cooperation with aircraft manufacturers, TDS Company
           supplies customers with spare parts for aircraft and helicopters on the most favorable terms
        </p>
     </div>
     <div class="experience__cards-circle">
        <i class="fas fa-screwdriver"></i>
        <h4>
           Overhaul of aircraft engines and their component units
        </h4>
        <p>
           The TDS company provides for the customer the organization of work on the overhaul of aircraft engines, individual components and assemblies
        </p>
     </div>
     <div class="experience__cards-pencil">
        <i class="fas fa-briefcase text-purple-600"></i>
        <h4>Organization of training events</h4>
        <p>
           By agreement with the customer, TDS Company can organize training, retraining, advanced training of the customer’s employees
        </p>
     </div>
     <div class="experience__cards-brush">
        <i class="fas fa-satellite-dish text-purple-600"></i>
        <h4>
           System engineering and project management
        </h4>
        <i class="fas fa-file-alt text-purple-600"></i>
        <h4>
           Technical assistance and technology transfer
        </h4>
     </div>
  </div>
</section>