<footer class="footer">
    <div class="footer__container">
        <div class="footer__links">
          <ul>
            <li><a class="capitalized" href="#home">home</a></li>
            <li>
              <a href="#experience">product</a>
            </li>
            <li>
              <a href="#benefits">about</a>
            </li>
            <li>
              <a href="#contact">contact</a>
          </ul>
        </div>
      <div class="footer__bottom">
        <div>
          <img src="./img/footer__icon-position.png" alt="position" />
          <p>7480 Mockingbird Hill undefined</p>
        </div>
        <div>
          <img src="./img/footer__icon-phone.png" alt="phone" />
          <p>(239) 555-0108</p>
        </div>
        <div>
          <a href="https://twitter.com/i/flow/login" target="_blank" rel="noopener noreferrer" >
          <img src="./img/twitter_white.png" alt="twitter_white" />
        </a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" >
          <img src="./img/facebook_white.png" alt="facebook_white" />
          </a>
          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" >
          <img src="./img/instagram_white.png" alt="instagram_white" />
          </a>
        </div>
      </div>
    </div>
  </footer>
  