<header id="home">
  <nav>
    <div id="header_logo">
      <a href="../index.html">
        <img src="./img/airCraft_logo.png" alt="logo" />
      </a>
    </div>
    <div id="header__menu">
      <ul class="header__menu-links">
        <li class="closebtn" id="closeMenu">
          <span>&times;</span>
        </li>
        <li>
          <a href="#home">home</a>
        </li>
        <li>
          <a href="#experience">product</a>
        </li>
        <li>
          <a href="#benefits">about</a>
        </li>
        <li>
          <a href="#contact">contact</a>
        </li>
      </ul>
      <ul class="header__menu-icons">
        <li>
          <a href="https://twitter.com/i/flow/login" target="_blank">
            <img src="./img/twitter_white.png" alt="twitter" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <img src="./img/facebook_white.png" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="./img/instagram_white.png" alt="instagram" />
          </a>
        </li>
      </ul>
    </div>
    <div id="openNav">
      <img src="./img/burger_icon.png" alt="burger_icon" class="burger" />
    </div>
  </nav>
  <section class="header__title">
    <div>
      <h2>Aviation technologies</h2>
    </div>
    <div>
      <p>
        10 years of experience
        <span>
          Partnership with manufacturing companies. Strong ties in the aviation
        </span>
      </p>
    </div>
    <div>
      <button>
        <a href="#benefits">ABOUT US</a>
      </button>
    </div>
  </section>
</header>;
