<!--Partners-->
<section class="partners">
    <div class="partners__title">
      <h2>Our Partners</h2>
    </div>
    <!--Partners logos-->
    <div class="partners__logos">
      <div class="partners__logo">
        <img src="../img/motor.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/kvant.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/aviakon.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/zavod.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/tcz.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/techaviacom.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/iskra.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/skyeton.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/deviro.jpg" alt="google" />
      </div>
      <div class="partners__logo">
        <img src="../img/trident.jpg" alt="google" />
      </div>
    </div>
  </section>
  