<section class="partners">
  <div class="partners__title">
    <h2>Our Partners</h2>
  </div>
  <div class="partners__logos">
    <div class="partners__logo">
      <img src="img/motor.jpg" alt="motor" />
    </div>
    <div class="partners__logo">
      <img src="img/kvant.jpg" alt="kvant" />
    </div>
    <div class="partners__logo">
      <img src="img/aviakon.jpg" alt="aviakon" />
    </div>
    <div class="partners__logo">
      <img src="img/zavod.jpg" alt="zavod" />
    </div>
    <div class="partners__logo">
      <img src="img/tcz.jpg" alt="tcz" />
    </div>
    <div class="partners__logo">
      <img src="img/techaviacom.jpg" alt="techaviacom" />
    </div>
    <div class="partners__logo">
      <img src="img/iskra.jpg" alt="iskra" />
    </div>
    <div class="partners__logo">
      <img src="img/skyeton.jpg" alt="skyeton" />
    </div>
    <div class="partners__logo">
      <img src="img/deviro.jpg" alt="deviro" />
    </div>
    <div class="partners__logo">
      <img src="img/trident.jpg" alt="trident" />
    </div>
  </div>
</section>;
